# Python
backend/venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.local

# Next.js
frontend/.next/
frontend/node_modules/

# Python
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db